.offset-vertical{
    margin-top: -17px!important;
}

.nonoffset-vertical{
    margin-top: -1px!important;
}

.empty-card {
    transition: .2s ease-in-out!important;
    transform: scale(1);
    min-height: 94px!important;
    position: relative;
    width: 100%;
}

.card {
    min-height: 75px!important;
}

.card.active {
    transform: scale(0.98);
    box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.5)!important;
    background-color: rgba(225, 225, 225, 0.9)!important;
    border: 1px solid rgba(0,0,0,0.2)!important;
}

.card-content {
    padding-left: 8px!important;
    padding-top: 8px!important;
    padding-right: 8px!important;
    padding-bottom: 8px!important;
}

.card-title {
    padding-top:8px;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 22px!important;
    font-weight: bold!important;
}

.card-body{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.card_tooltip {
    -webkit-animation: fadein .2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.offset-vertical.card_tooltip {
    z-index: 20;
    width: 150px;
    height: 50px;
    left: 185px;
    position: absolute;
    margin-right: -100px!important;
}

.nonoffset-vertical.card_tooltip {
    z-index: 20;
    left: 150px;
    width: 150px;
    height: 50px;
    position: absolute;
    margin-right: 100px!important;
}

#add-deposit {
    display: block;
    width:40px;
    height:40px;
    font-size: 40px;
    color: green;
}

#view-transactions-icon {
    display: block;
    width:40px;
    height:40px;
    font-size: 40px;
    color: blue;
}

#add-deposit.active {
    transform: scale(1.1);

}

.hidden {
    display: none;
}

@media only screen and (max-width: 321px) {
    .card {
        min-height: 60px!important;
    }

    .card-content {
        padding-left: 8px!important;
        padding-top: 4px!important;
        padding-right: 8px!important;
        padding-bottom: 4px!important;
    }

    .card-title {
        font-size: 18px!important;
    }

    .card-body{
        bottom: 4px;
        right: 4px;
    }

    .offset-vertical.card_tooltip {
        width: 120px;
        height: 40px;
        left: 158px!important;
        margin-right: -100px!important;
    }

    .nonoffset-vertical.card_tooltip {
        left: 128px!important;
        width: 120px!important;
        height: 40px!important;
        margin-right: 100px!important;
    }
}