.offset-vertical{
    margin-top: -17px!important;
}

.nonoffset-vertical{
    margin-top: -1px!important;
}

.card {
    transition: .3s ease-in-out!important;
    transform: scale(1); 
}

.card.active {
    transform: scale(0.98); 
    box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.5)!important;
    background-color: rgba(225, 225, 225, 0.9)!important;
    border: 1px solid rgba(0,0,0,0.2)!important;
}

.card-content {
    padding-left: 8px!important;
    padding-top: 8px!important;
    padding-right: 8px!important;
    padding-bottom: 8px!important;
}

.card-title {
    padding-top:8px;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 22px!important;
    font-weight: bold!important;
}

.card-body{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.card {
    width: 100%;
}