.form {
    margin-top: 32px;
    padding:16px;
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.50);
}

.form-title {
    margin-bottom: 16px;
}

input {
    border-bottom: 1px solid #ec407a!important;
}

input:focus {
    border-bottom: 2px solid #ec407a!important;
}

button {
    margin: 8px auto!important;
}

.form-footer > p, a {
    font-size: 18px;
    margin: 0px;
}

.form-footer > a {
    font-weight: bold;
}

.signin-link {
    color: #ec407a
}