html{
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("loginbackground.png");
  /* background-color: darkcyan; */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url(/img/mario-desert.png) no-repeat; */
  /* background-size: 100%; */
  /* background-position: bottom; */
  /* background-color: #6898f8; */
  /* background-color: darkcyan; */
  /* min-height: calc(100vh - 56px); */
  background-image: url("loginbackground.png");
  min-width: 100vw;
}
.align-left{
  text-align: left!important;
}

nav {
  height: 60px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gutter-right{
  margin-right:5vw;
}

.category-button{
  margin-top: 20px;
  width:42vw;
  height:80px;
  font-weight: 600;
  font-family: 'Trebuchet MS'
}

.btn {
  background: #EE006E;
  border: 1px solid #979797!important;
  border-radius: 2px 2px 2px 0 2px;

  font-family: Helvetica;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.spent-label {
  bottom: 8px!important;
  font-size: 16px!important;
}

.spent-label.active {
  /* text-align: center; */
  font-size: 20px!important;
  color: #ec407a !important;
}

.options-button {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 6px 8px;
  border: lightgray 1px solid;
  box-shadow: #ec407a 10px;
  border-radius: 15%;
}

.close-drawer {
  position: absolute;
  width: 15vw;
  right: 0;
  top: 80px;
  height: calc(100vh - 80px);
  z-index: 15;
  /* background-color: #ec407a; */
}

.non-active-month {
  position: relative;
  background-color: white;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.50)!important;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
  width: calc(100% - 16px);
  font-family: Helvetica-Bold;
  font-size: 22px;
  letter-spacing: 0;
  text-align: center;
}

.active-month {
  position: relative;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
  width: calc(100% - 16px);
  font-family: Helvetica-Bold;
  font-size: 22px;
  letter-spacing: 0;
  text-align: center;
}

.non-active-year {
  position: relative;
  background-color: white;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.50)!important;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
  width: calc(100% - 16px);
  font-family: Helvetica-Bold;
  font-size: 22px;
  letter-spacing: 0;
  text-align: center;
}

.active-year {
  position: relative;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
  width: calc(100% - 16px);
  font-family: Helvetica-Bold;
  font-size: 22px;
  letter-spacing: 0;
  text-align: center;
  font-weight: bold;
}

.relative {
  position: relative;
}

.input-label{
  margin-block-start:0px;
  margin-block-end:0px;
  font-size: 18px!important;
}

button {
  margin-left: 4px!important;
  margin-right: 4px!important;
}
/* .pick-color-btn {
  height: 100px;
} */

.spent-input {
  /* text-align: center; */
  font-size: 24px!important;
}

.category-name-input {
  font-size: 21px!important;
}

.location-input, .description-input{
  font-size: 18px;
}

.alert-message{
  padding:16px!important;
}

.close-message {
  position: absolute!important;
  right: 8px;
  padding-right:8px;
}

.bold-text{
  font-weight: bold!important;
}

.input-field {
  margin-top: 0!important
}

.color-pick {
  margin-top: 24px;
  background-color: white;
  min-height: 100vh;
}

.px-1{
  padding-left: 16px;
  padding-right: 16px;
}

.mx-1{
  margin-left: 8px!important;
  margin-right: 8px!important;
}

.mx-2{
  margin-left: 16px;
  margin-right: 16px;
}

.my-1{
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2{
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.my-3{
  margin-top: 24px;
  margin-bottom: 24px;
}

.bold {
  font-weight: bold;
}

.underline-text {
  text-decoration: underline;
}

.center-item {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.drop-row {
  text-align: right;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  display: block;
  right: 0;
  justify-items: end;
  z-index: 200;
  height: calc(100vh - 60px);
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


/* new */
html {
  overflow-y: hidden;
}
body {
  overflow-x: hidden;
}

.animation-container{
  white-space: nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 8px;
}

.app-header div {
  line-height: 64px;
  text-align: center;
}

.dashboard {
  position: relative;
}

.main-section {
  height: calc(100vh - 100px);
}

.collection {
  border: 1px solid #ec407a;
}

.collection-overflow {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.collection-overflow::-webkit-scrollbar { width: 0 !important }

.overflow-scroll {
  overflow: hidden;
  overflow-y: scroll;
  /* max-height: calc(100vh - 150px); */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.overflow-scroll::-webkit-scrollbar { width: 0 !important }

.dash {
  transition: .2s ease-in-out!important;
  padding-top: 32px;
  padding-bottom: 32px;
  height: calc(100vh - 92px);
  overflow: hidden;
  overflow-y: scroll;
}

.align-left {
  text-align: left;
}


.header-title {
  color: #4EF3FF;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  -webkit-text-stroke: 1px rgb(51, 51, 51);
  text-shadow:
    3px 3px 0 rgb(51, 51, 51),
    -1px -1px 0 rgb(51, 51, 51),
    1px -1px 0 rgb(51, 51, 51),
    -1px 1px 0 rgb(51, 51, 51),
    1px 1px 0 rgb(51, 51, 51);
}

.header-menu {
  color: rgb(126, 147, 151);
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.header-logo {
  height: 60px;
}

.col {
  padding-top: 8px!important;
}

.float-right {
  float: right;
  padding-right:8px;
}

#page-container {
  width: 400vw;
  height: 100vh;
  margin-left: -100vw;
  transition: .4s ease-in-out;
}

.app-page {
  background-image: url("loginbackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  width: 100vw;
  padding: 10px;
  height: 100vh;
}

.landing-logo {
  margin-top: 24px;
  margin-left: calc(50% - 57px);
}

.slidezero {
  margin-left: -00vw!important;
}

.slideone{
  margin-left: -100vw!important;
}

.slidetwo{
  margin-left: -185vw!important;
}

.row {
  margin-bottom:0!important;
}

.form{
  max-height: calc(100vh - 150px);
  padding:16px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.disable_text_highlighting {
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
}


@media only screen and (max-width: 321px) {
  .header-title {
    font-size: 30px;
    line-height: 50px;
  }

  .app-header{
    height: 60px;
    padding: 8px;
  }

  .app-header div {
    line-height: 44px;
    text-align: center;
  }

  .header-menu {
    color: rgb(126, 147, 151);
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
  }

  .header-logo {
    height: 50px;
  }

  .form {
    margin-top: 16px;
    padding:8px;

  }

  .form-title {
      margin-bottom: 8px;
  }

  .input-label{
    font-size: 12px!important;
  }

  .location-input, .description-input{
    font-size: 12px;
  }

  .spent-input {
    font-size: 16px!important;
  }

  .category-name-input {
    font-size: 16px!important;
  }
  /* TODO */
  .category-button{
    margin-top: 20px;
    width:42vw;
    height:80px;
    font-weight: 600;
    font-family: 'Trebuchet MS'
  }

  h5{
    height: 20px;
    font-size: 18px!important;
  }

  .form h5{
    margin-bottom:8px;
    margin-top:8px;
  }

  input {
    height:28px!important;
    margin-bottom: 4px!important;
    font-size: 14px!important;
  }

  label > span {
    font-size: 12px!important;
  }

  label > span::after {
    margin-top:2px;
    height: 18px!important;
    width: 18px!important;
  }

  .chip{
    font-size: 10px!important;
    height: 26px!important;
    line-height: 26px!important;
    margin-bottom: 1px!important;
  }

  button {
    height: 32px!important;
    font-size: 13px!important;
    line-height: 32px!important;
  }

  .category-summary {
    font-size: 14px!important;
  }

  .color-picker-button {
    font-size: 24px!important;
  }
}

.toasts {
    border-radius: 2px;
    bottom: 16px;
    margin: 0 8px;
    position: absolute;
    max-width: 100%;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .toasts {
    width: calc(100vw - 36px);
    border-radius: 0;
  }
}